http {
	server {
		listen 8082;
		server_name localhost;
		client_max_body_size 1M;

		root ./www/html;
		index index.html;

		error_pages 403 /error_403.html;
		error_pages 404 /error_404.html;
		error_pages 405 /error_405.html;
		error_pages 413 /error_413.html;

 		location / {
		methods GET POST DELETE;
		}

		location /kapouet {
		root /tmp/www;
		}

		location /google {
			return 301 https://www.google.com;
		}

		location /youtube {
			return 302 https://www.youtube.com;
		}

		location /error_pages {
			autoindex on;
		}

		location /cgi-bin/ {
			cgi_pass /usr/bin/python3;
			cgi_param SCRIPT_FILENAME /cgi-bin/script.py;
			cgi_param PATH_INFO $fastcgi_script_name;
			cgi_param QUERY_STRING $query_string;
			cgi_param REQUEST_METHOD $request_method;
		}
	}
	server {
		listen 8081;
		server_name server2.local;
		client_max_body_size 10M;

		root ./www/html1;
		index index2.html;

		error_pages 403 /error_403.html;
		error_pages 404 /error_404.html;
		error_pages 405 /error_405.html;
		error_pages 413 /error_413.html;

		location /google {
			return 301 https://www.youtube.com;
		}

		location /files {
			autoindex on;
		}

		location / {
			index index2.html;
		}

		location / {
		methods GET POST DELETE;
		try_files $uri $uri/ =404;
		}

	location /cgi-bin/ {
		cgi_pass /usr/bin/python3;
		cgi_param SCRIPT_FILENAME /Users/EleniPerpe/webServer/cgi-bin$fastcgi_script_name;
		cgi_param PATH_INFO $fastcgi_script_name;
		cgi_param QUERY_STRING $query_string;
		cgi_param REQUEST_METHOD $request_method;
	}
	}
}
