http {
    server {
        listen 8080;
        server_name localhost;

        root ./www/html;
        error_page 404 /404.html;
        error_page 500 502 503 504 /50x.html;
        index index.html;
        client_max_body_size 10M;

        location / {
            limit_except GET POST {
                deny all;  # Deny any HTTP methods except GET and POST
            }
            try_files $uri $uri/ =404;
        }

        location /google {
            return 301 https://www.google.com;
        }

        location /files {
            autoindex on;
        }

        location / {
            index index.html;
        }

        location ~ \.php$ {
            fastcgi_pass 127.0.0.1:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME /Users/anamieta/github-projects/webserv/www/html$fastcgi_script_name;
            include fastcgi_params;
        }
    }
	server {
        listen 8081;
        server_name 127.0.0.1;

        root ./www/html1;
        error_page 404 /404.html;
        error_page 500 502 503 504 /50x.html;
        index index2.html;
        client_max_body_size 10M;

        location / {
            limit_except GET POST {
                deny all;  # Deny any HTTP methods except GET and POST
            }
            try_files $uri $uri/ =404;
        }

        location /google {
            redirection https://www.youtube.com;
        }

        location /files {
            autoindex on;
        }

        location / {
            index index2.html;
        }

        location ~ \.php$ {
            fastcgi_pass 127.0.0.1:9000;
            fastcgi_index index2.php;
            fastcgi_param SCRIPT_FILENAME /Users/anamieta/github-projects/webserv/www/html$fastcgi_script_name;
            include fastcgi_params;
        }
    }
}

